
.navbar{
  background-color:black;
    min-height: 45px;
    position: fixed;
    width: 100%;
    
    color:black;
    font-size: 8px;
    z-index: 99;
    white-space: nowrap;
}

.navbar li {
  display: inline-block;
  text-align: center;
  font-size: 24px;
  color:black;

}
.navbar a {
  text-decoration: none;
  color:black;
  font-weight: 900;
  font-size: 25px;
  padding-left: 40px;
}
.msg2{
padding-left: 200px;
font-size: 35px!important;}




